html {
    position: relative;
}

body {
    margin-bottom: 100px;
}

section {
    min-height: 700px;
}

.container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
    width: 200px;
    border-top: 4px solid rgba(0, 0, 0, 0.7);
    margin-top: 0px;
}

.navbar-dark {
    background-color: #0695da;
}

.navbar-dark .navbar-brand {
    font-weight: 700;
    color: white;
}

.navbar-dark .navbar-nav .navbar-item{
    font-weight: 700;
    color: white;
}

.navbar-dark .navbar-nav .navbar-item:hover{
    color: #0695da;
}

.img-circle {
    width: 200px;
    margin-top: 20px;
    border: 6px solid white;
}

.jumbotron {
    background-color: #0695da;
    color: white;
    max-height: 500px;
    margin-bottom: 200px;
}

.jumbotron h3 {
    margin-top: 0;
}

.bgext {
    position: relative;
    height: 300px;
    width: 100%;
    margin-top: 0px;
}

.about img {
    width: 55%;
    margin-left: 22.5%;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    border: 5px solid white;
}

.thumbnail {
    border-radius: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.thumbnail img {
    border-radius: 16px;
    padding: 10px 10px 0px 10px;
}

.thumbnail a {
    border-radius: 12px;
    margin-right: 10px;
}

footer {
    position: absolute;
    font-weight: 600;
    background-color: #0b5a8e;
    width: 100%;
    height: 100px;
    bottom: 0;
    color: white;
    padding-top: 40px;
    justify-content: center;
}

footer p i {
    color:crimson;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
}

.btn {
    background-color: #0b5a8e;
    font-weight: 600;
}