.jumbotron img {
    height: 200px;
    border: 4px solid white;
}

.jumbotron {
    background-color: rgba(186, 212, 235, 0.6);
}

hr {
    width: 200px;
    border-top: 4px solid rgba(0, 0, 0, 0.7);
    margin-top: 0px;
}

section {
    min-height: 500px;
}